* {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 160px;
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding-right: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    height: 200px;
    display: flex;
    gap: 16px;
    background-color: #1F2937;
    padding: 100px 160px;
    justify-content: space-between;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-left {
    flex: 1 0 1;
}

img {
    flex: 1 0 1;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
}

.information {
    padding: 20px 160px;
}

.information h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info p {
    margin-top: 5px;
}

.info {
    margin: 0 auto;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 160px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 8px;
}

.quote h6 {
    margin-top: 8px;
    text-align: right;
    font-size: 18px;
}

.cta {
    padding: 100px 160px;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    justify-content: space-around;
}

.cta-left {
    flex: 3; 
    padding: 25px 0 25px 100px;
}

.cta-left h1 {
    margin-bottom: 8px;
}

.cta-left p {
    margin-top: 8px;
}

.cta-right {
    flex: 1;
    align-self: center;
    padding: 25px 0;
}

.cta-right button {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
}

footer {
    padding: 25px 0;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}