* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

header {
    width: 100vw;
    text-align: center;
}

header h1 {
    margin: 20px;
}

.newbook {
    width: 150px;
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: green;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 10px;
    border: none;
    border-radius: 3%;
    box-shadow: 3px 3px 3px gray;
}

.newbook:active {
    background-color: darkgreen;
}

.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.book {
    margin: 30px;
    border: 1px solid red;
    height: 10vh;
    padding: 25px 50px;
}